body {
    background-color: rgba(253,210,203,255);
    font-size: x-large;
    background-size: 100%;
    color: purple;
    text-align: left;
}

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    color: rgb(125, 34, 209);
    background-color: rgba(250,179,176,255);
    border-style: dashed;
    border-radius: 16px;
    border-color: deeppink;
    border-width: 4px;
}

.bandMembers {
    border-style: double;
    border-color: rgb(255, 83, 183);
    border-width: 8px;
    color: rgb(130, 34, 179);
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
}

.songTitle {
    font-weight: bold;
}
